$buttonColor: #359;
$cardColor: lighten(gainsboro, 10%);
$cardTextColor: #123;

p {
	text-align: left;
}

canvas {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid darken(#e3e3e3, 10%);
	transition: all 0.1s;
}

canvas:hover {
	cursor: pointer;
}

select {
	display: block; 
	padding: 5px 0px 5px 13px !important; 
	max-width: 100%;
	width: 100%;
	height: auto !important; 
	border: 1px solid darken(#e3e3e3, 10%); 
	border-radius: 3px; 
	background-color: #fff; 
	color: #444444; 
	font-size: 1.1em; 
	/*
	display: block; 
	padding: 10px 70px 10px 13px !important; 
	max-width: 100%;
	width: 100%;
	height: auto !important; 
	border: 1px solid darken(#e3e3e3, 10%); 
	border-radius: 3px; 
	background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat; 
	background-color: #fff; 
	color: #444444; 
	font-size: 1.1em; 
	line-height: 16px !important; 
	appearance: none; 
	-webkit-appearance: none; 
	-moz-appearance: none;
	*/
} 

select option {
	padding: 5px; 
}

select::-ms-expand { 
	//display: none; 
}

input[type=number] {
	display: block; 
	padding: 5px 0px 5px 13px !important; 
	max-width: 100%;
	width: 100%;
	height: auto !important; 
	border: 1px solid darken(#e3e3e3, 10%); 
	border-radius: 3px; 
	background-color: #fff; 
	color: #444444; 
	font-size: 1.1em; 
}

.section {
	max-width: 1000px;
}

.section-header {
	//margin-top: 100px;
}

#settings-menu {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

	.settings-group {
		display: flex;
		align-items: top;
		justify-content: center;

		.settings-group-inner {
			width: 100%;
			max-width: 300px;
		}
	}
}

.card {
	text-align: left;
	padding: 25px;
	margin: 25px;

	.item {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

#startButton {
	margin-top: 50px;
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

input[type=range] {
  width: 100%;
  max-width: 500px;
}